In [3]:
import pandas as pd
import numpy as np
data = pd.read_csv('jobs.csv')
data_jobs = data.drop_duplicates()
data_head = data_jobs.head()
data_head

,title,company,company_size,industry,type,salary,company_type,source,experience,education,salary2
0,招聘数据分析师,北京越铖国际科技有限公司,20-99人,人事/行政/高级管理,全职,8000-12000,民营,斗米,不限,不限,10000.0
1,数据分析师,北京新东方教育科技（集团）有限公司,NaN,计算机/互联网/信息技术,全职,12000-20000,民营,OFweek人才网,不限,不限,16000.0
2,数据分析师(新浪),新浪网技术(中国)有限公司,2000-5000人,数据分析师,全职,20000-25000,外商独资/办事处,猎聘,3-5年,本科,22500.0
3,数据分析师,北京美科思远环境科技有限公司,20-99人,环保/环境科学类,全职,12000-20000,股份制,北极星招聘,不限,硕士,16000.0
4,助理、临床样本库采样人员、软件工程师、数据库管理工程师、机械设计与结构工程师、Android...,中国人民解放军总医院（北京市解放军医学院）,NaN,医疗,全职,面议,公立医院,康强医疗人才网,不限,不限,NaN

In [18]:
data_source = data_jobs['source'].value_counts()
data_source

猎聘           580
OFweek人才网     33
斗米            17
百姓网            5
北极星招聘          5
普工招聘网          4
工厂直聘网          2
康强医疗人才网        1
Name: source, dtype: int64

In [30]:
data2 = data_jobs[data_jobs.title.notnull()]
data_experience = data2.loc[data2.title.str.contains('数据分析师',regex=False),'experience'].value_counts(normalize=True)
data_experience

3-5年     0.376147
1-3年     0.344037
不限       0.183486
5-10年    0.091743
10年以上    0.004587
Name: experience, dtype: float64

In [31]:
data_education = data2.loc[data2.title.str.contains('数据分析师',regex=False),'education'].value_counts(normalize=True)
data_education

本科    0.800459
不限    0.087156
硕士    0.068807
大专    0.043578
Name: education, dtype: float64

In [33]:
title_counts = data_jobs.company_type.value_counts()
title_counts

民营          458
上市公司         62
外商独资/办事处     45
中外合资/合作      42
国企           34
事业单位          4
个人企业          2
股份制           1
公立医院          1
其它            1
Name: company_type, dtype: int64

In [36]:
salary_mean = data_jobs.salary2.dropna().mean()
salary_mean

14409.894688644688

In [57]:
data_jobs.salary2.groupby(data_jobs.company).mean().sort_values(ascending=False).head(10)

company
xx公司                         25000.0
中建材信息技术股份有限公司                25000.0
北京某互联网公司                     25000.0
北京正东金控信息服务有限公司               25000.0
北京永利范思科技有限公司                 25000.0
中网数据(北京)股份有限公司               25000.0
清控紫荆(北京)教育科技股份有限公司           25000.0
云账户技术(天津)有限公司                25000.0
以尧企业发展（上海）有限公司               25000.0
依托数据分析的，聚合形成个人信用码的新科技平台公司    25000.0
Name: salary2, dtype: float64

In [47]:
pd.DataFrame({'counts':data_jobs['title'].groupby(data_jobs.company).count()}).sort_values(by='counts',ascending=False).head(10)

                     counts
company
百度在线网络技术(北京)有限公司          7
车好多旧机动车经纪(北京)有限公司         7
深圳索信达数据技术有限公司             7
海南小易到家电子商务有限公司上海分公司       6
贝壳找房(北京)科技有限公司            5
苏州皇亭电子有限公司                5
广联达科技股份有限公司               4
北京嘀嘀无限科技发展有限公司            4
北京中油瑞飞信息技术有限责任公司          4
北京百分点信息科技有限公司             4

In [51]:
data_jobs.salary2.groupby(data_jobs.company_type).mean().sort_values(ascending=False).head(10)

company_type
外商独资/办事处    17468.750000
股份制         16000.000000
民营          14378.595718
上市公司        14367.346939
事业单位        14166.666667
中外合资/合作     13357.142857
个人企业        13250.000000
国企          12846.153846
其它          10000.000000
公立医院                 NaN
Name: salary2, dtype: float64

In [ ]:
# .groupby()返回的是pandas的groupby对象。并未进行任何计算，但它包括了接下来计算所需的数据。计算之后就变成了series或者df？？？